// Copyright (c) 2005 - 2026, Aegisub Project & Contributors
// All rights reserved.

#define IDI_ICON1 101

IDI_ICON1 ICON DISCARDABLE "../assets/icons_native/icon.ico"

1 VERSIONINFO
FILEVERSION     4,0,2,0
PRODUCTVERSION  4,0,2,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Aegisub\0"
            VALUE "FileDescription",  "AegisubQT subtitle editor (Unofficial Qt 6 Quick Edition)\0"
            VALUE "FileVersion",      "4.0.2.0\0"
            VALUE "InternalName",     "AegisubQT\0"
            VALUE "LegalCopyright",   "Copyright (c) 2005-2026 Rodrigo Braz Monteiro, Niels Martin Hansen, Thomas Goyne, Cuptu et al.\0"
            VALUE "OriginalFilename", "AegisubQT.exe\0"
            VALUE "ProductName",      "AegisubQT\0"
            VALUE "ProductVersion",   "4.0.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

// Indirect string resources referenced by the installer's file association
// registry entries (e.g. "@{app}\AegisubQT.exe,-10102").
STRINGTABLE
BEGIN
    10000                   "AegisubQT subtitle editor"
    10001                   "Cross-platform advanced subtitle editor (Qt 6 Quick edition)"
    10101                   "AegisubQT subtitle file"
    10102                   "AegisubQT Advanced SSA subtitles"
    10103                   "AegisubQT SubStation Alpha subtitles"
    10104                   "AegisubQT SubRip text subtitles"
    10105                   "AegisubQT MPEG-4 timed text"
    10106                   "AegisubQT Matroska subtitles"
    10107                   "AegisubQT raw text file"
    10108                   "AegisubQT media file"
    10109                   "AegisubQT audio file"
    10110                   "AegisubQT video file"
END
